@charset "utf-8";

*{
    margin: 0;
    padding: 0;

}
html,body{
    width: 100vw;
    height: 100vh;
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center/cover;
}

main{
    position: relative;
    height: 100vh;

}
section#iphone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 311px;
    height: 627px;
    background: url(../imagens/frame-iphone.png) no-repeat;

}
iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 469px;
}
section#redes{
text-align: right;
}

section#redes a img{
    border-radius: 50%;
    width: 50px;
    margin:10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.407);
    box-sizing: border-box;
}
section#redes a img:hover{
    border: 2px solid white;
    
}